@model List<MoneyFlow.Models.ServiceVM>



<div class="row">
    <div class=" col-sm-6">
        <h2>Services</h2>
    </div>
    <div class="col-sm-6  text-end">
        <!--Send to NEwService.cshtml-->
        <a href="/Service/NewService" class="btn btn-success">New Service</a>
    </div>
</div>
<!---------------------->
<hr />

<!--Row of the Table-->
<div class="row">
    <!--ROW-->
    <div class="col-sm-12">
        <!--MY TABLE-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th style="width:90px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Type</td>
                        <th style="width:90px"></th>
                        <td>
                            <a href="/Service/EditService/@item.ServiceID" class="btn btn-primary btn-sm">Edit</a>
                            <button onclick="deleteItem(@item.ServiceID)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<!--Metodo para borrar Servicios-->

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>

    function deleteItem(serviceID) {

        @*if (confirm("Are you Ok with Deleting this Service?")) {

            window.location.href = '@Url.Action("DeleteService","Service")'+'?id=' + serviceID;

        }*@
        Swal.fire({
            title: "Are you sure?",
            text: "You won't be able to revert this!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, delete it!"
        }).then((result) => {
            if (result.isConfirmed){
                window.location.href = '@Url.Action("DeleteService","Service")'+'?id=' + serviceID;
            }
        });
    }

    </script>


}
